.name{
    background-color: khaki;
}

.name-selected{
    background-color: maroon;
    color: beige;
}

.prof{
    background-color: beige;
} 

.prof-selected{
    background-color: khaki;
    color:maroon;
}

.error{
    background-color:red;
    color: white;
} 

.vote{
    margin-top:20px;
    background-color: green;
    color:beige;
    padding: 4px 10px;
    font-size: larger;
}